body{
  background-image: url('../IMG_0185-Picsart-AiImageEnhancer.jpeg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#slots{
  position: absolute;
  left: 50%;
  top: 50%;
}

#roulette{
  position: absolute;
  left: 25%;
  top: 25%;
}

