body{
  background-image: url('../IMG_0185-Picsart-AiImageEnhancer.jpeg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#slots{
  position: relative;
  left: 65%;
  top: 25%;
  color: white;
}

#roulette{
  position: relative;
  left: 25%;
  top: 25%;
  color: white;
}

