 body{
    background-image: url('/Darkalley.jpeg');
 }

#casino{
    position: relative;
    left: 65%;
    top: 41%;
    text-decoration: none;
    color: pink;
}
#shame{
    position: relative;
    left: 3%;
    top: 41%;
    text-decoration: none;
    color: white;
}
